#root {
  max-width: 1080px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  min-width: 445px;
  /* min-height: 100vh; */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f8f8f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px 0px 100px 0px;
  /* display: flex; */
  place-items: center;
}

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* Nav banner */

.nav-container {
  list-style-type: none;
  background-color: #0f110c;
  margin: 0px 0px 50px 0px;
  padding: 0;
  overflow: hidden;
}

.nav-item-left {
  float: left;
  display: block;
  color: #fefdff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link-left {
  display: block;
  color: #fefdff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link-right {
  display: block;
  float: right;
  background-color: #9b1d20;
  border-color: #9b1d20;
  color: #fefdff;
  border-radius: 24px;
  margin: 16px 20px;
  padding: 10px 24px;
  cursor: pointer;
}

/* Login Form */

.login-form {
  display: block;
  text-align: center;
  margin: 0px 25px;
  border-radius: 6px;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* standard elements */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.h2-page-titles {
  padding: 10px;
}

.card {
  padding: 2em;
}

/* Standard Links */

a {
  font-weight: 500;
  color: #0f110c;
  text-decoration: inherit;
}
a:hover {
  color: #c1bfb5;
}

/* errors, loading etc */

.loading {
  padding: 25px 0px;
}

/* Buttons */

.red-button {
  border-radius: 24px;
  border: 1px solid transparent;
  padding: 0.5em 1.2em;
  font-size: 1.1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #9b1d20;
  color: #fefdff;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
  display: inline-block;
}
.red-button:hover {
  border-color: #6e1314;
  color: #0f110c;
}

/* .red-button:focus,
.red-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* Topic CARD for rendering AllTopics */

.pale-red-button {
  border-radius: 24px;
  border: 1px solid transparent;
  padding: 0.5em 1.2em;
  font-size: 1.1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #e06365;
  color: #fefdff;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
  display: inline-block;
}
.pale-red-button:hover {
  border-color: #6e1314;
  color: #0f110c;
}


.topicCardContainer {
  margin: 0px;
  padding: 0px;
}

.topicCard {
  background-color: #9b1d20;
  color: #fefdff;
  border-radius: 8px;
  list-style: none;
  margin: 20px;
  padding: 20px;
  align-items: center;
}

.topicCardImg {
  margin: 10px;
  width: 90%;
  border-radius: 8px;
}

.topicCardLink {
  color: #fefdff;
  text-decoration: underline;
}

/* All Articles */

/* .article-card-column {
  margin-top: 50px;
  columns: 2 auto;
} */

/* Article CARD for rendering AllArticles */

.articeCardContainer {
  margin: 0px;
  padding: 0px;
}

.articleCard {
  background-color: #dad8d1;
  color: 0F110C;
  border-radius: 8px;
  list-style: none;
  margin: 0px 15px 70px 15px;
  padding: 20px;
  align-items: center;
  break-inside: avoid;

}

.articleCardImg {
  width: 98%;
  border-radius: 8px;
}

.articleCardLink {
  color: #9b1d20;
  text-decoration: underline;
}

.articleCardLink:hover {
  color: #0f110c;
  text-decoration: underline;
}

/* Individual Article Page */

.articeContainer {
  margin: 0px;
  padding: 0px 15px;
}

.article {
  border-radius: 8px;
  list-style: none;
  margin: 10px;
  /* padding: 20px; */
}

.img-box {
  background-color: #9b1d20;
  color: #fefdff;
  margin: 0px;
  padding-bottom: 30px;
  height: 360px;
  width: 100%;
  border-radius: 8px;
  font-size: 1.2em;
  font-weight: bold;
}

.articleImg {
  margin: 0px;
  height: 310px;
  width: 100%;
  object-fit: cover;
  border-radius: 0px;
  text-align: center;
}

.art-body {
  color: #0f110c;
  padding: 30px 30px;
}

.author {
  margin: 10px 0 50px;
  padding-bottom: 10px;
  font-weight: bold;
}

/* Forms */

input {
  border-radius: 4px;
  background-color: #fefdff;
  color: #0f110c;
  padding: 10px 20px;
  margin: 10px;
}

/* Comment Card Component */

.comment-section {
  background-color: #0f110c;
  color: #fefdff;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

.comment-container {
  background-color: #c1bfb5;
  border-radius: 8px;
  color: #0f110c;
  padding: 15px 0px;
  text-align: center;
  margin: 25px 15px 10px;
}

.comment-list {
  width: 80%;
  margin: auto;
  padding: 0px;
  text-align: center;
  list-style: none;
}

.comment-author {
  margin: 10px 0px;
  font-weight: bold;
}

/* Article Vote Section */

.vote-container {
  background-color: #e6e5e2;
  font-weight: 800;
  border-radius: 8px;
  margin: 0 auto;
  width: 100%;
}

/* Icon buttons */

.thumb-button {
  border-radius: 24px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 1em;
  font-family: inherit;
  background-color: #fefdff;
  color: #0f110c;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
  margin-bottom: 15px;
  display: inline-block;
}
.thumb-button:hover {
  border-color: #9b1d20;
  color: #9b1d20;
}

.delete-button {
  border-radius: 24px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 1em;
  font-family: inherit;
  background-color: #9b1d20;
  color: #fefdff;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
  margin-bottom: 15px;
  display: inline-block;
}
.delete-button:hover {
  border-color: #6e1314;
  color: #0f110c;
}
